@charset "UTF-8";
@import "mixin";
@import "extend";
$orange: #FD610A;

%fix-top {position: fixed; top: 0; left: 0; right: 0; }
%fix-bottom {position: fixed; bottom: 0; left: 0; right: 0; }
%pro_img {display: block; width: 100%; min-height: 80px; background-color: #ccc; }

.market_wrap {
	min-height: 100%; background: #E7284A url(../img/market_bg.png) no-repeat; background-size: contain;
}
.mk-list {
	margin: 0 10px; padding-top: 40%;
}
.mk-list-tab {
	position: relative; 
	ul {
		padding: 6px 0; background-color: #9A0000; overflow: hidden;
	}
	li {
		float: left; width: 50%; text-align: center; line-height: 28px; color: #eee;
		&:first-child {box-shadow: 1px 0 0 #E04E4F; }
	}
	&:before, &:after {content: ""; position: absolute; top: 3px; width: 10px; height: 40px; background-color: #9A0000; }
	&:before {left: -10px; }
	&:after {right: -10px; }
}
.mk-list-cur {
	text-align: center; line-height: 34px; font-size: 15px; color: #fff; background-color: #D65454;
	b {color: #FFFF05; }
}
.mk-lists {
	$red: #D70413;
	$odd: #FCEBD7;
	$even: #FFF7E2;
	%ver {display: inline-block; vertical-align: middle; }
	li {
		height: 55px; line-height: 55px;
		b {width: 28px; height: 34px; text-align: center; color: $red; line-height: 34px; @extend %ver; margin: 0 8px; background: url(../img/sprite.png) no-repeat; background-position: 100px 100px; background-size: 250px auto; }
		img {width: 35px; height: 35px; border-radius: 50%; @extend %ver; margin-right: 15px; overflow: hidden; background-color: #ccc; }
		p {
			@extend %ver; line-height: 20px;
			.mk-partner {display: block; max-width: 148px; color: #999; font-size: 12px; }
		}
		.c_price {float: right; color: $red; margin-right: 8px; }
		&:nth-child(2n+1) {background-color: $odd; }
		&:nth-child(2n) {background-color: $even; }
		&:nth-child(1) b {text-indent: -999em; background-position: -133px -23px; }
		&:nth-child(2) b {text-indent: -999em; background-position: -161px -23px; }
		&:nth-child(3) b {text-indent: -999em; background-position: -189px -23px; }
	}
}

/* 佣金 */
.fund_hd {
	$redbg: #CC3431;
	position: relative; height: 115px; background-color: $redbg;
	p {
		line-height: 26px; color: #fff; padding: 15px;
		a {
			color: #fff;
			&:after {content: ""; display: inline-block; width: 16px; height: 16px; vertical-align: middle; margin-left: 10px; background: #fff url(../img/sprite.png) no-repeat -133px 0; background-size: 250px auto; }
		}
	}
	strong {position: absolute; left: 15px; bottom: 0; font-size: 38px; color: #fff; }
}
.fund-list {
	$border: #eee;
	$c1: #E3686A;
	$c2: #E3D503;
	$c3: #7494AB;
	padding: 10px 0; background-color: #fff;
	ul {overflow: hidden; }
	li {
		float: left; width: 33.3%; color: #999; font-size: 11px; text-align: center; box-shadow: -1px 0 0 $border inset;
		.c_price {display: block; font-weight: 400; }
		.fund_price1 {color: $c1; }
		.fund_price2 {color: $c2; }
		.fund_price3 {color: $c3; }
		&:last-child {box-shadow: none; }
	}
}

/* 团队成员 */
.team-list {
	$red: #D04958;
	$left: 50px;
	$right: 30%;
	$gray: #ccc;
	.team-members {
		line-height: 40px; padding: 0 10px;
		em {color: $red; }
	}
	.team-member-info {margin: 0 $right 0 $left; padding-right: 10px; overflow: hidden; }
	.team-date {color: $gray; font-size: 12px; }
	.team-price {
		float: right; width: $right; text-align: right; box-shadow: -1px 0 0 #eee;
		em {color: $red; }
	}
	ul {border-top: 1px solid #eee; }
	li {
		padding: 10px; border-bottom: 1px solid #eee; background-color: #fff;
		img {float: left; width: 38px; height: 38px; border-radius: 3px; background-color: #ccc; overflow: hidden; }
	}
}

/* 分销中心订单 */
.order-tab {
	.cur {color: $orange; border-bottom-color: $orange; }
	ul {background-color: #fff; }
	li {text-align: center; line-height: 40px; box-shadow: -1px 0 0 #eee; border-bottom: 3px solid #fff; }
}
.order-no {
	color: #999; text-align: center; padding: 40px 0;
	.icon {display: block; margin: 0 auto 20px; }
}

/* 分销代言，分销入口 */
%mk-border {border: 1px solid #E9E9E9; border-radius: 5px; }
.mk-dialog {
	padding: 12px;
	img {float: left; width: 50px; height: 50px; }
}
.mk-dialog-info {
	position: relative; margin-left: 60px; padding: 10px; @extend %mk-border; background-color: #fff;
	em {color: $orange; }
	&:after {
		content: ""; position: absolute; left: -4px; top: 8px; width: 5px; height: 5px; border: 1px solid #E9E9E9; border-width: 0 0 1px 1px; background-color: #fff;
		@include rotate(45deg);
	}
}
.mk-dialog-ad {
	img {@extend %pro_img; }
}
.mk-code {
	img {display: block; width: 100%; margin-bottom: 20px; }
	text-align: center; padding: 20px 50px; background-color: #fff;
}
.mk-step {
	padding-bottom: 10px; background-color: #fff;
	%mr {margin: 0 10px; padding: 10px 0; }
	h3 {
		font-size: 14px; @extend %mr; border-bottom: 1px solid #ddd;
		.icon33 {vertical-align: middle; margin-right: 10px; }
	}
	.step {
		color: #999; font-size: 12px; margin: 5px 10px; padding-left: 4em;
		label {float: left; color: #333; margin-left: -4em; }
	}
	.step-tip {
		color: #fff; font-size: 12px; margin: 0 10px; padding: 10px; background-color: #FE924A;
	}
}
.mk-links {
	@extend %fix-bottom; padding: 10px; background-color: #fff; overflow: hidden;
	a {
		float: left; width: 48%; text-align: center; color: #666; line-height: 46px; margin-right: 4%;
		@extend %mk-border; box-sizing: border-box;
		.icon {vertical-align: middle; margin-right: 8px; }
		&:last-child {margin-right: 0; }
	}
}

.mk-name {
	padding: 10px; background-color: #fff; overflow: hidden;
	img {float: left; width: 40px; height: 40px; border-radius: 3px; }
	.mk-name-info {
		margin-left: 50px; 
		h3,p {line-height: 20px; }
		h3 {font-size: 15px; line-height:20px; }
	}
}
.mk-index-list {
	ul {overflow: hidden; border-bottom: 1px solid #eee; background-color: #fff; }
	li {
		float: left; width: 33.3%; text-align: center; padding-bottom: 10px; box-shadow: -1px 0 0 #eee inset;
		&:nth-child(3) {box-shadow: none; }
		.icon {border-radius: 50%; background-color: #ccc; }
		p {color: #ccc; font-size: 12px; }
	}
}
.mk-fund_hd {
	height: 165px;
	p {padding: 5px 15px 5px; }
	.mk-fund_hd-btn {
		position: absolute; right: 15px; bottom: 13px; line-height: 32px; color: #fff; padding: 0 15px; border: 1px solid #fff; border-radius: 5px;
	}
}

.f1-banner {
	img {@extend %pro_img; }
}
.f1-form {
	margin-bottom: 20px; background-color: #EFEFEF;
	p {margin: 10px 12px; }
	input[type="text"] {width: 100%; height: 42px; color: #333; text-indent: 10px; border: 1px solid #eee; }
	.o-btn {width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box; }
}
.f1-rights {
	margin: 0 10px 10px;
	ul {border-radius: 5px; overflow: hidden; background-color: #fff; }
	li {
		padding: 12px; border-bottom: 1px solid #eee;
		.icon {float: left; }
		h3, p {line-height: 20px; margin-left: 48px; }
	}
}