@charset "utf-8";

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,hr,button,article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { margin: 0; padding: 0; }
body,button,input,select,textarea { font: 400 14px/1.5 Arial,"Lucida Grande",Verdana,"Microsoft YaHei",hei; }
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,iframe { display: block; }
h1,h2,h3,h4,h5,h6 { font-size: 100%; font-weight: 500; }
address,cite,dfn,em,var,i { font-style: normal; font-weight: 400; }
dfn { font-family: Arial; }
ul,ol { list-style: none; }
a { color: #000; text-decoration: none; }
fieldset,img,button,input { border: 0; }
button,input,select,textarea { font-size: 100%; }
table { border-collapse: collapse; border-spacing: 0; }
input { -webkit-appearance: none; border-radius: 0; }
body { min-width: 320px; background: #F4F4F4; overflow-x: hidden; -webkit-text-size-adjust: none; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-font-smoothing: antialiased; -moz-user-select: none; color: #000; }
:focus { outline: 0; }
.clearfix:after { clear: both; content: '.'; display: block; height: 0; visibility: hidden; line-height: 0; }
.clearfix { *zoom:; }
.fl { float: left; }
.fr { float: right; }
.mt10 {margin-top: 10px; }
.mb10 {margin-bottom: 10px; }
.mb30 {margin-bottom: 30px !important; }
.tc {text-align: center; }
.tr {text-align: right; }
.fz10 {font-size: 10px; }
.fz12 {font-size: 12px; }
.fz16 {font-size: 16px; }
.fz18 {font-size: 18px; }
.fred {color: #FE5955; }
.f666 {color: #666; }
.f999 {color: #999; }
.bgfff {background-color: #fff !important; }
.clear { clear: both; }
.overflow { overflow: hidden; }
.ellips { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.ellips_line2,.ellips_line3 { display: -webkit-box; -webkit-box-orient: vertical; overflow: hidden; }
.ellips_line2 { -webkit-line-clamp: 2; }
.ellips_line3 { -webkit-line-clamp: 3; }
.dflex {display:-webkit-box; display:-moz-box; display:-ms-flexbox; display:-webkit-flex; display:flex; }
.dflex li, .dflex .dflex1 {-webkit-box-flex:1; -webkit-flex:1; -moz-flex:1; -ms-box-flex:1; -ms-flex:1; -webkit-flex:1; box-flex:1; flex:1; }
.dflex .dflex2 {-webkit-box-flex:2; -webkit-flex:2; -moz-flex:2; -ms-box-flex:2; -ms-flex:2; -webkit-flex:2; box-flex:2; flex:2; }
.dflex .dflex3 {-webkit-box-flex:3; -webkit-flex:3; -moz-flex:3; -ms-box-flex:3; -ms-flex:3; -webkit-flex:3; box-flex:3; flex:3; }
.dflex .dflex4 {-webkit-box-flex:4; -webkit-flex:4; -moz-flex:4; -ms-box-flex:4; -ms-flex:4; -webkit-flex:4; box-flex:4; flex:4; }

/* = global = */
.banner {display: block; width: 100%; }
.start {font-size: 20px; color: #55BDFF; font-weight: 700; margin: 10px auto 3px; }
input[type="radio"]:checked+.imt1 {background-position: -152px 0px; }

/* = sprite = */
.imt {position: relative; display: inline-block; background: url(../img/sprite_imt.png) no-repeat; background-size: 175px auto; }
.imt1 {width: 12px; height: 12px; background-position: 20px 20px; background-color: #E7EAF0; }
.imt2 {width: 14px; height: 8px; background-position: 0 0; }
.imt3 {width: 14px; height: 8px; background-position: 0 -8px; }
.imt4 {width: 13px; height: 14px; background-position: -139px -1px; }
.imt5 {width: 17px; height: 17px; background-position: -104px -1px; }
.imt6 {width: 17px; height: 17px; background-position: -122px -1px; }

/* = step = */
.step-bar {position: relative; line-height: 20px; color: #fff; padding: 12px 10px; }
.step-bar label {position: absolute; left: 10px; top: 12px; bottom: 12px; font-size: 10px; }
.step1 {background-color: #55BCFF; }
.step2 {background-color: #97A6F7; }
.step3 {background-color: #FF5855; }

/* = box = */
.box1 {padding: 45px 0 30px; background-color: #fff; }
.box1 .center {width: 180px; margin: 0 auto; }
.box1 .imt1 {vertical-align: middle; margin: 0 10px; }
.box1 label {margin-right: 12px; }
.box1 .box_line input[type="text"] {width: 63px; height: 26px; color: #8D8D8D; text-align: center; margin-right: 5px; padding: 0 5px; border: 1px solid #C3C3C3; background-color: #F4F4F4; }

.table {text-align: center; margin: 10px; background-color: #F4F4F4; }
.table table {width: 100%; table-layout: fixed; }
.table th, .table td {position: relative; padding: 10px 0; border: 2px solid #F4F4F4; background-color: #fff; }
.table th {width: 50%; }
.table .imt {margin-right: 15px; }
.table .count-info {position: absolute; right: 6px; bottom: 12px; color: #999; }
.table .says .imt2 {margin: 0 8px; }
.table .table-type {line-height: 28px; margin: 10px 0; }
.table-info {text-align: left; }
.table-info img {display: block; margin: 0 auto; zoom: .5; }
.table-info h4 {font-size: 14px; text-align: center; margin: 10px 0; }
.table-info p {color: #999; font-size: 12px; margin: 0 45px; }

/* = 敬告 = */
.announce {font-size: 12px; color: #999; margin: -9px 0 3px; padding: 15px 12px; background-color: #fff; }
.announce .imt4 {vertical-align: -2px; margin-right: 8px; }

/* = 列表型文字 = */
.list-content {padding-left: 2em; }
.list-content em {float: left; margin-left: -2em; }

/* = 赞 = */
.zan {padding: 15px; }
.zan .imt {vertical-align: middle; margin-right: 8px; }

/* = 保存 = */
.save {}
.save .btn1 {display: block; }
.share {line-height: 46px; }
.share:active {background-color: #dedede; }

/* = 评论 = */
.comment {}
.comment h3 {padding: 8px 10px; background-color: #fff; }
.comment textarea {display: block; width: 86%; height: 4em; color: #999; font-size: 12px; margin: 5% 5% 3%; padding: 2%; border: 1px solid #c6c6c6; resize: none; background-color: #F4F4F4; }
.comment .btn1 {width: 72px; line-height: 20px; font-size: 10px; margin-bottom: 3%; margin-right: 5%; }
.comment ul {margin: 0 10px; border-top: 1px solid #fff; }
.comment li {padding: 10px 0; border-bottom: 1px solid #fff; }
.comment li p {line-height: 20px; color: #999; font-size: 12px; }

/* = 模拟select = */
.select {position: relative; z-index: 1; display: inline-block; }
.select .arr_down {display: inline-block; width: 26px; height: 26px; text-align: center; border: 1px solid #C3C3C3; vertical-align: top; background-color: #F4F4F4; }
.select .arr_down:after {content: ""; position: relative; top: 8px; display: inline-block; width: 0; height: 0; border: 8px solid transparent; border-top: 10px solid #CFCBCA; }
.select input {width: 63px; height: 26px; color: #8D8D8D; text-align: center; margin-right: 5px; border: 1px solid #C3C3C3; background-color: #F4F4F4; vertical-align: top; }
.select ul {display: none; position: absolute; left: 0; right: 0; top: 32px; border: 1px solid #C3C3C3; border-bottom: 0; }
.select li {line-height: 26px; color: #8D8D8D; text-align: left; padding-left: 10px; border-bottom: 1px solid #C3C3C3; background-color: #F4F4F4; }
.select.open ul {display: block; }

/* = 加减控件 = */
.count {display: inline-block; width: 90px; }
.count i, .count input {height: 24px; line-height: 24px; border: 1px solid #ccc; background-color: #F4F4F4; }
.count i {width: 24px; font-size: 18px; color: #A2A2A2; }
.count .add {float: right; }
.count .cut {float: left; }
.count input {width: 30px; font-size: 18px; text-align: center; }

/* = 变更控件 = */
.change {display: inline-block; width: 90px; }
.change i, .change input {height: 24px; line-height: 24px; text-align: center; border: 1px solid #ccc; background-color: #F4F4F4; }
.change i {width: 24px; }
.change i:after {content: ""; position: relative; top: 3px; display: inline-block; width: 0; height: 0; border: 8px solid transparent; }
.change .cg_next {float: right; }
.change .cg_next:after {border-left: 8px solid #ccc; left: 5px; }
.change .cg_prev {float: left; }
.change .cg_prev:after {border-right: 8px solid #ccc; right: 5px; }
.change input {width: 30px; font-size: 12px; background-color: #F1F3F6; }

/* = 按钮 = */
.btn {display: inline-block; text-align: center; }
.btn:hover {text-decoration: none; }
.btn1 {color: #fff; font-size: 16px; line-height: 36px; background-color: #55BCFF; }



